/* * {
    border: 1px;
    border-color: red;
    border-style: solid;
} */

#header {
    display: flex;
    height: 80px;
    gap: 1%;
}

#header h3 {
    font-size: 32px;
}

#image-container {
    position: relative;
    display: inline-block;
    min-width: 100%;
}

#image-container img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 800px;
}

#image-container h1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    font-size: 64px;
    font-family: "Brush Script MT"; 
    text-align: center;
}


