/* * {
    border: 1px;
    border-color: red;
    border-style: solid;
} */

#header {
    display: flex;
    height: 60px;
    gap: 1%;
}

#logo {
    /* margin-left: 1%;
    margin-top: 1%; */
}


