/* * {
    border: 1px;
    border-color: red;
    border-style: solid;
} */

#header {
    display: flex;
    height: 80px;
    gap: 1%;
}

#header h3 {
    font-size: 32px;
}

#image-container {
    position: relative;
    display: inline-block;
    min-width: 100%;
}

#image-container img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 800px;
}

#image-container h1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    font-size: 64px;
    font-family: "Brush Script MT"; 
    text-align: center;
}

#image-link {
    position: absolute;
    top: 95%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 16px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#banner {
    
    background-color: rgb(254, 221, 216);
    padding: 2%;
    margin-top: -1%;
}

#banner h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#banner p {
    text-align: justify;
    font-size: 18px;
    margin: 0% 5% 2% 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#flex-container {
    display: flex;
    flex-wrap: wrap; 
}

#flex-container img {
    width: 50%;
    height: 600px;
}

#flex-container div {
    width: 50%;
    height: 600px;
    text-align: center;
}

#flex-container div > p {
    padding: 3% 10% 5% 10%;
    text-align: justify;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#flex-container div > h3 {
    padding-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#definition {
    background-color: rgb(207, 227, 226);
}

#things {
    background-color: rgb(215, 226, 232);
}

#footer {
    text-align: center;
    font-size: 18px;
}

#footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}